# Voice cloning (Tortoise TTS)
torch==1.13.1
torchaudio==0.13.1
transformers==4.26.1
tokenizers==0.13.2
einops==0.6.1
huggingface-hub==0.14.1
scipy==1.10.1
numpy==1.23.5
librosa==0.9.2
soundfile==0.12.1

# Wav2Lip dependencies
opencv-python-headless==4.9.0.80
face-alignment==1.3.5
matplotlib==3.7.1
scikit-image==0.19.3
tensorflow==1.15.2
tensorflow-addons==0.6.0
dlib==19.24.0
numba==0.56.4

# Web UI
gradio==3.50.2

# Video/audio processing
ffmpeg-python==0.2.0

# Helper
gdown==4.7.1
